<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电子文档管理系统</title>
    <script type="text/javascript" src="/statics/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <head>
    <title>Title</title>
    <style>
      #firstPage {
        text-decoration: none;
        color: black;
        font-size: 18px;
      }
      h3 {
        width: 180px;
        height: 38px;
        margin: 100px auto;
        text-align: center;
        line-height: 38px;
        background: deepskyblue;
        border-radius: 4px;
      }
    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h3>
                    <a id="firstPage" href="/showInfo"><b>进入电子文档页面</b></a>
                </h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>